img{
    height: 300px;
    border-radius: 3%;
}
.button{
    display: flex;
    flex-direction: row;
}
#M{
    display: flex;
    margin-left:270px;
}
#W{
    display: flex;
    margin-left: 50px;
}
#D{
    display: block;
    margin-left: 550px
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}